@import url("https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap");

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;

}

:root {
  --text-color: #000;
  --bg-primary: #f2877d;
  --fb-color: #4f70b5;
}

#root {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100vw;
    height: 100vh;
}

body {
  font-family: "Poppins", sans-serif;
  display: block;
  width: auto;
  padding-top: 50px;

  .registrationForm {
    max-width: 1440px;
    border: 1px solid red;
    border-radius: 15px;
    display: flex;
    @media only screen and (min-width: 1280px) {
      width: 1440px;
    }

    .leftSide {
      width: 50%;
      height: auto;
      padding: 60px;
      background: var(--bg-primary);
      display: flex;
      flex-direction: column;
      justify-content: space-between;
      border-radius: 14px 0 0 14px;

      .logoImg {
        width: 32%;
        margin: 30px 40px 0 30px;
      }

      .Illustration {
        width: auto;
        margin: 35px 50px;
      }

      .textContainer {
        width: auto;
        display: flex;
        justify-content: center;
        align-items: center;
        text-align: center;
        margin-bottom: 40px;

        h2 {
          max-width: 250px;
          color: #fff;
          font-size: 20px;
          font-weight: 500;
        }
      }
    }

    .rightSide{
      width: 50%;
      padding: 80px;
      display: flex;
      flex-direction: column;
      justify-content: space-between;

      .formHeader {

        a {
          text-decoration: none;
          color: var(--bg-primary);
        }
      }

      .socialButtonsContainer{
        display: flex;
        justify-content: space-between;
        gap: 30px;
        :hover{
          cursor: pointer;
        }

        .gmail{
          width: 100%;
          height: auto;
          display: flex;
          justify-content: center;
          align-items: center;
          padding-block: 10px;
          gap: 5px;
          font-weight: 500;
          font-size: 18px;
          letter-spacing: 1px;
          background: #fff;
          border: 2px solid lightgrey;
          box-shadow: 1px 1px 5px 1px lightgrey;
          border-radius: 5px;

          .icons {
            height: 21px;
            width: 25px;
          }
        }

        .facebook{
          background-color: #4f70b5;
          width: 100%;
          height: auto;
          display: flex;
          justify-content: center;
          align-items: center;
          padding-block: 10px;
          gap: 5px;
          border: 0;
          color: #fff;
          font-weight: 500;
          font-size: 18px;
          letter-spacing: 1px;
          border-radius: 5px;

          .icons {
            height: 21px;
            width: 25px;
            color: #fff;
          }
        }
      }

      h2 {
        text-align: center;
        font-size: 28px;
        font-weight: 400;
      }
      .regInput {
        
        .InpSection {
          width: auto;
          border: 2px solid lightgrey;
          box-shadow: 1px 1px 5px 1px lightgrey;
          border-radius: 5px;
          display: flex;
          align-items: center;
          padding: 10px;

          .inpIcons{
            height: 15px;
            width: 15px;
          }

          input{
            width: 100%;
            padding-left: 10px;
            border: none;
            font-size: 18px;
            &:focus {
              outline: none;
            }
          }
        }
        .focused {
          border: 2px solid var(--bg-primary);
        }
      }

      #submit {
        font-size: 25px;
        padding: 5px;
        color: #fff;
        background: var(--bg-primary);
        border: none;
        margin-top: 20px;
        border-radius: 5px;
      }
    }
  }
}
