@import url("https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap");
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

:root {
  --text-color: #000;
  --bg-primary: #f2877d;
  --fb-color: #4f70b5;
}

#root {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100vw;
  height: 100vh;
}

body {
  font-family: "Poppins", sans-serif;
  display: block;
  width: auto;
  padding-top: 50px;
}
body .registrationForm {
  max-width: 1440px;
  border: 1px solid red;
  border-radius: 15px;
  display: flex;
}
@media only screen and (min-width: 1280px) {
  body .registrationForm {
    width: 1440px;
  }
}
body .registrationForm .leftSide {
  width: 50%;
  height: auto;
  padding: 60px;
  background: var(--bg-primary);
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  border-radius: 14px 0 0 14px;
}
body .registrationForm .leftSide .logoImg {
  width: 32%;
  margin: 30px 40px 0 30px;
}
body .registrationForm .leftSide .Illustration {
  width: auto;
  margin: 35px 50px;
}
body .registrationForm .leftSide .textContainer {
  width: auto;
  display: flex;
  justify-content: center;
  align-items: center;
  text-align: center;
  margin-bottom: 40px;
}
body .registrationForm .leftSide .textContainer h2 {
  max-width: 250px;
  color: #fff;
  font-size: 20px;
  font-weight: 500;
}
body .registrationForm .rightSide {
  width: 50%;
  padding: 80px;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}
body .registrationForm .rightSide .formHeader a {
  text-decoration: none;
  color: var(--bg-primary);
}
body .registrationForm .rightSide .socialButtonsContainer {
  display: flex;
  justify-content: space-between;
  gap: 30px;
}
body .registrationForm .rightSide .socialButtonsContainer :hover {
  cursor: pointer;
}
body .registrationForm .rightSide .socialButtonsContainer .gmail {
  width: 100%;
  height: auto;
  display: flex;
  justify-content: center;
  align-items: center;
  padding-block: 10px;
  gap: 5px;
  font-weight: 500;
  font-size: 18px;
  letter-spacing: 1px;
  background: #fff;
  border: 2px solid lightgrey;
  box-shadow: 1px 1px 5px 1px lightgrey;
  border-radius: 5px;
}
body .registrationForm .rightSide .socialButtonsContainer .gmail .icons {
  height: 21px;
  width: 25px;
}
body .registrationForm .rightSide .socialButtonsContainer .facebook {
  background-color: #4f70b5;
  width: 100%;
  height: auto;
  display: flex;
  justify-content: center;
  align-items: center;
  padding-block: 10px;
  gap: 5px;
  border: 0;
  color: #fff;
  font-weight: 500;
  font-size: 18px;
  letter-spacing: 1px;
  border-radius: 5px;
}
body .registrationForm .rightSide .socialButtonsContainer .facebook .icons {
  height: 21px;
  width: 25px;
  color: #fff;
}
body .registrationForm .rightSide h2 {
  text-align: center;
  font-size: 28px;
  font-weight: 400;
}
body .registrationForm .rightSide .regInput .InpSection {
  width: auto;
  border: 2px solid lightgrey;
  box-shadow: 1px 1px 5px 1px lightgrey;
  border-radius: 5px;
  display: flex;
  align-items: center;
  padding: 10px;
}
body .registrationForm .rightSide .regInput .InpSection .inpIcons {
  height: 15px;
  width: 15px;
}
body .registrationForm .rightSide .regInput .InpSection input {
  width: 100%;
  padding-left: 10px;
  border: none;
  font-size: 18px;
}
body .registrationForm .rightSide .regInput .InpSection input:focus {
  outline: none;
}
body .registrationForm .rightSide .regInput .focused {
  border: 2px solid var(--bg-primary);
}
body .registrationForm .rightSide #submit {
  font-size: 25px;
  padding: 5px;
  color: #fff;
  background: var(--bg-primary);
  border: none;
  margin-top: 20px;
  border-radius: 5px;
}/*# sourceMappingURL=style.css.map */